* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* background-color: blanchedalmond; */
}
body {
  /* background-color: blanchedalmond; */
}

.container-01 {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1100px;
}
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
}

.logo .btn {
  margin-right: 20px;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px;
  border: 2px solid #3e2d4055;
  border-radius: 20px;
  background-color: #f5bc0261;
  color: #3e2d406d;
}

.clicks-allowed {
  margin-right: 20px;
  border: 2px solid #f5bd02;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px;
  border-radius: 20px;
  background-color: #3e2d40;
  color: #f5bd02;
}

/* .logo button:hover {
  cursor: pointer;
  background-color: #3e2d40;
  color: #f5bd02;
}  */

.duck {
  transform: scaleX(-1);
  width: 80px;
}
.container-02 {
  margin: auto;
  padding: 0 auto;
  max-width: 1100px;
}

.container-03 {
  margin: auto;
  padding: 0 auto;
  max-width: 1100px;
  justify-content: space-around;
  display: flex;
}

.container-content {
  margin: auto;
  padding: 0 auto;
  max-width: 1100px;
  text-align: center;
}
.content {
  margin-bottom: 40px;
}

.light h1 {
  font-size: 2rem;
  color: #3e2d40;
}

#image1,
#image2,
#image3 {
  border: 2px solid #3e2d40;
  width: 30%;
  margin-bottom: 40px;
  border-radius: 20px;
}

.container-04 {
  margin: auto;
  padding: 0 auto;
  max-width: 1100px;
}

footer {
  background-color: blanchedalmond;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8rem;
  box-shadow: 0px 13px 20px rgb(0 0 0 / 60%);
}

.footerlist ul {
  display: flex;
  justify-content: space-around;
}

.footerlist ul {
  display: flex;
}

.footerlist li a {
  text-decoration: none;
  padding: 20px;
  color: black;
}
.footerlist li {
  font-size: 1.1rem;
  list-style: none;
}

.container-chart {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1100px;
  width: 80%;
}

canvas {
  margin-bottom: 60px;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #3e2d40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  transform: scale(0.8);
}

.ball {
  width: 22px;
  height: 22px;
  background-color: #f5bd02;
  position: absolute;
  border-radius: 22px;
  top: 2px;
  left: 2px;
  transition: transform 0.1s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #ffffff;
}
.fa-sun {
  color: #ffffff;
}

.dark {
  background-color: #3e2d40;
  color: blanchedalmond;
}
.light {
  background-color: blanchedalmond;
}

.dark h1 {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .logo .btn {
    margin-right: 20px;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 20px;
  }

  .clicks-allowed {
    margin-right: 20px;
    border: 2px solid #f5bd02;
    font-weight: 600;
    font-size: 0.6rem;
    padding: 5px;
    border-radius: 20px;
  }

  .footerlist li {
    font-size: 0.8rem;
    list-style: none;
  }

  .dark h1 {
    font-size: 1.6rem;
  }
  .light h1 {
    font-size: 1.6rem;
  }

  .label {
    width: 45px;
    height: 21px;
    background-color: #3e2d40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 2.5px;
    position: relative;
    transform: scale(0.8);
  }

  .ball {
    width: 17px;
    height: 16.5px;
    background-color: #f5bd02;
    position: absolute;
    border-radius: 22px;
    top: 2px;
    left: 2px;
    transition: transform 0.1s linear;
  }
}
