* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

.container-01 {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1100px;
}
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 100px;
}
.logo button {
  font-weight: 600;
  font-size: 1rem;
  padding: 15px;
  border-radius: 20px;
  background-color: #f5bd02;
  color: #3e2d40;
}

.logo button:hover {
  cursor: pointer;
  background-color: #3e2d40;
  color: #f5bd02;
}

.duck {
  transform: scaleX(-1);
  width: 80px;
}
.container-02 {
  margin: auto;
  padding: 0 auto;
  max-width: 1100px;
}

.container-03 {
  margin: auto;
  padding: 0 auto;
  max-width: 1100px;
  justify-content: space-around;
  display: flex;
}

#image1,
#image2,
#image3 {
  border: 2px solid #3e2d40;
  height: 20em;
  width: 25%;
  margin-bottom: 40px;
}

.container-04 {
  margin: auto;
  padding: 0 auto;
  max-width: 1100px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.footerlist ul {
  display: flex;
  justify-content: space-around;
}

.footerlist ul {
  display: flex;
}

.footerlist li a {
  text-decoration: none;
  padding: 20px;
  color: black;
}
.footerlist li {
  font-size: 1.1rem;
  list-style: none;
}

.container-chart {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1100px;
  width: 80%;
}

canvas {
  margin-bottom: 60px;
}
